<div id="books_faved">
    {{#if favs.length}}
        {{> filterBar}}
        <p id="favs_amount">You have {{favs.length}} favourite books</p>
    {{/if}}

    {{#each favs}}
        <div class="book_container" id="book_container_{{id}}">
            <div id="title">
                <p>Title : {{title}}</p>
            </div>
            <div id="book_id">
                <p>Book ID : {{id}}</p>
            </div>
            <div id="author">
                <p>Written by : {{author}}
                </p>
            </div>
            <div id="release">
                <p>Release date : {{releaseDate}}</p>
            </div>
            <div id="review">
                <p>Review : <button type="button" id="showBtn" onclick="showReview('{{id}}')">Show</button></p>
                <div id="modal">
                    <div id="modal_content">
                        <span id="close">&times;</span>
                        <p>You wrote :</p>
                        <p id="review_p">{{review}}</p>
                    </div>
                </div>
            </div>
            <img id="edit_icon_img" src="images/edit_icon.png" width="32" height="32" onclick="editFav('{{id}}')">
            <img id="bin_icon_img" src="/images/bin_icon.png" width="48" height="48" onclick="deleteFav('{{id}}')">
        </div>
    {{else}}
        <p>You haven't favourited a book yet</p>

    {{/each}}
</div>